[flake8]
# Black compatible values https://black.readthedocs.io/en/stable/compatible_configs.html#flake8
max-line-length = 88
exclude =
    test_*
    database/migrations/versions/*
extend-ignore =
            E203,
            # whitespace before ':'
            ANN101
            # Missing type annotation for self in method
            N815
            # camelCase
per-file-ignores =
    # long urls in test fixtures cannot be avoided, and we want them to be on one line for
    # legibility reasons.
    test/conftest.py:E501
